Package: com.ps.hqweather
Name: High Quality Weather
Depends: mobilesubstrate, firmware (>= 7.0)
Version: 1.0
Architecture: iphoneos-arm
Description: Weather graphics quality without low end device detection
Author: PoomSmart
Section: Tweaks
